<div class="cart-container">
  <h2 class="cart-title">Votre Panier ( {{ totalProduits }} articles)</h2>

  <div class="cart-layout">
    <div class="cart-items-section">
      <table class="cart-table">
        <thead>
          <tr>
            <th>Produit</th>
            <th>Détails</th>
            <th>Quantité</th>
            <th>Total</th>
            <th></th>
          </tr>
        </thead>
        <tbody *ngFor="let panier of paniers">
          <tr class="cart-row" *ngFor="let item of panier.details">
            <td class="col-img">
              <img src="https://picsum.photos/id/26/100/100" alt="Réveil" class="item-thumb">
            </td>
            <td class="col-details">
              <h3>{{ item.produit.nomproduit }}</h3>
              <p class="item-category">{{ item.produit.categorieproduit.nom }}</p>
              <p class="item-unit-price">Prix unité : {{ item.produit.prix | number:'1.0-0'}} MGA</p>
            </td>
            <td class="col-qty">
                <span class="total-price-text">{{item.quantite }}</span>
            </td>
            <td class="col-total">
              <span class="total-price-text">{{item.subtotal | number:'1.0-0' }} MGA</span>
            </td>
            <td class="col-remove">
              <button class="btn-remove" (click)="removeItem(item.produit._id)">🗑</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <aside class="cart-summary">
      <div class="summary-card" *ngFor="let panier of paniers">
        <h3>Résumé de la commande</h3>
        
        <div class="summary-line">
          <span>Sous-total</span>
          <span>{{ panier.totalAmount | number:'1.0-0'}} MGA</span>
        </div>
        
        <div class="summary-line">
          <span>Frais de livraison</span>
          <span class="free-shipping">Gratuit</span>
        </div>

        <hr class="summary-divider">
        
        <div class="summary-line total">
          <span>Total TTC</span>
          <span>{{ panier.totalAmount | number:'1.0-0'}} MGA</span>
        </div>
        
        <button class="btn-checkout">Commander</button>
        
        <a href="#" class="continue-shopping">← Continuer mes achats</a>
      </div>
    </aside>
  </div>
</div>